.app {
  text-align: center;
}

.navbar {
  background-color: #212529;
  border-bottom: 2px solid skyblue;
  color: white;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  line-height: 34px;
  height: 34px;
  z-index: 1001;
}

.navbar .nav-title {
  display: inline-block;
  float: left;
  font-size: large;
  padding-left: 15px;
}

.navbar .donation {
  float: right;
  line-height: 30px;
  padding-right: 15px;
}

.kofi-img {
  border: 0;
  height: 30px;
  vertical-align: middle;
}

.updates-log {
  background-color: white;
  border: 1px solid lightgrey;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 600px;
}

div .gacha-container {
  background-color: rgb(245, 245, 240);
  border: 1px solid grey;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  max-width: 488px;
}
div .banner-img {
  background-color: lightblue;
}

div .banner-img img {
  height: 100%;
  max-height: 240px;
  max-width: 480px;
  width: 100%;
}

div .featured-items {
  text-align: center;
}

.featured-title {
  font-weight: bold;
  height: 30px;
}

.featured-title p {
  display: inline-block;
  vertical-align: middle;
}

.featured-items .featured-item {
  height: 60px;
  padding: 7px;
  width: 60px;
}

.summon-btn {
  border: solid 2px #67c5ff;
  border-radius: 3px;
  color: black;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  transition: 0.4s;
}

.summon-btn:hover {
  background: #67c5ff;
  color: white;
}

.reset-btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px palevioletred;
  border-radius: 3px;
  transition: 0.4s;
}

.summon-results {
  border: grey solid 1px;
  background-color: blanchedalmond;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 430px;
  width: 100%;
}

.summon-results .summon-item {
  height: 70px;
  padding: 7px;
  width: 70px;
}

.ur_card,
.ur_unit {
  height: 70px;
  width: 70px;
  border-radius: 15%;
  box-shadow: inset 0 0 50px #fff, /* inner white */ inset 20px 0 20px #f0f,
    /* inner left magenta short */ inset -20px 0 20px #0ff,
    /* inner right cyan short */ inset 20px 0 300px #f0f,
    /* inner left magenta broad */ inset -20px 0 300px #0ff,
    /* inner right cyan broad */ 0 0 50px #fff,
    /* outer white */ -10px 0 30px #f0f,
    /* outer left magenta */ 10px 0 20px #0ff; /* outer right cyan */
}
/* .ur_card,
.ur_unit {
  border: double 2px transparent;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, rgb(255, 54, 47), #248aff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  filter: drop-shadow(2px 1px 3px #e877ff);
} */

.mr_card,
.mr_unit {
  height: 70px;
  width: 70px;
  border-radius: 10%;
  box-shadow: inset 0 0 50px #fff, /* inner white */ inset 20px 0 20px #0ff;
}

.reset-btn:hover {
  background: palevioletred;
  color: white;
}

.visiore-small {
  height: 19px;
  width: 15px;
}

div .gacha-log {
  background-color: rgb(245, 245, 240);
  border: 1px solid grey;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 488px;
}
.lucky-pulls {
  font-weight: bold;
  position: relative;
  margin-bottom: 9px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
  max-width: 430px;
  text-align: center;
  width: 100%;
}
.items-container {
  display: flex;
  max-width: 430px;
  width: 100%;
  overflow-y: auto;
}
.ur-container {
  position: relative;
  width: 70px;
}
.lucky-pull {
  bottom: 8px;
  height: 60px;
  padding: 7px;
  right: 16px;
  width: 60px;
}
.item-quantity {
  position: absolute;
  top: 8px;
  right: 10px;
  /* 1 pixel black shadow to left, top, right and bottom */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}

@media only screen and (max-width: 600px) {
  .featured-items .featured-item {
    height: 50px;
    padding: 5px;
    width: 50px;
  }
  .summon-results .summon-item {
    height: 60px;
    padding: 5px;
    width: 60px;
  }
}
